*.sdf
*.opensdf
*.user
*.v11.suo
build/
build-*/
install/
RELEASE_DIR/
projects/build-*
projects/Debug
projects/Release
projects/*/Debug
projects/*/Release
projects/*/GeneratedFiles
projects/project-defines.h
