
/*********************************************************************/
/* Basics
/*********************************************************************/

QMainWindow {
  background: rgb(30, 30, 30);
}

QMainWindow QStatusBar {
  background: rgb(18, 19, 20);
}

QMainWindow QStatusBar QLabel#bandwidthRead,
QMainWindow QStatusBar QLabel#bandwidthWrite {
	color: rgb(200, 200, 200);
}

QFrame#captionFrame {
}

QLabel#captionLabel {
  font-size: 12pt;
}

/*********************************************************************/
/* Startup dialog
/*********************************************************************/


/*********************************************************************/
/* ConferenceVideoWidget
/*********************************************************************/

ConferenceVideoWindowSidebar {
  background: rgb(18, 19, 20);
  min-width: 90px;
}

ConferenceVideoWindowSidebar QPushButton:checked {
	background: rgb(45, 45, 45);
}

ConferenceVideoWindowSidebar #userCount {
  border-color: rgb(63, 63, 70);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  color: rgb(200, 200, 200);
  margin: 7px 0 0 5px;
  padding: 2px;
}

ConferenceVideoWindowSidebar QLabel#bandwidthRead,
ConferenceVideoWindowSidebar QLabel#bandwidthWrite {
  color: rgb(200, 200, 200);
  font-size: 7pt;
  qproperty-alignment: AlignCenter;
}

/*********************************************************************/
/* TileView
/*********************************************************************/

TileViewWidget #leftPanelContainer {
  background: rgb(18, 19, 20);
  min-width: 90px;
}

TileViewWidget #leftPanelContainer QPushButton:checked {
  background: rgb(45, 45, 45);
}

TileViewWidget QScrollArea QWidget {
  background: rgb(30, 30, 30);
}

TileViewWidget QLabel#bandwidthRead,
TileViewWidget QLabel#bandwidthWrite {
  color: rgb(200, 200, 200);
  font-size: 7pt;
  qproperty-alignment: AlignCenter;
}

TileViewWidget > QScrollBar {
  background: rgb(30, 30, 30);
}

TileViewWidget > QScrollBar:vertical {
  width: 10px;
}

TileViewWidget QScrollBar::add-line,
TileViewWidget QScrollBar::sub-line {
  background: none;
}

TileViewWidget QScrollBar::add-page,
TileViewWidget QScrollBar::sub-page {
  background: none;
}

TileViewWidget QScrollBar::handle {
  background: rgb(63, 63, 70);
  border: 1px solid rgb(63, 63, 70);
  border-radius: 2px;
  margin-right: 2px;
}

TileViewWidget QScrollBar::handle:disabled {
  background: rgb(30, 30, 30);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 2px;
  margin-right: 2px;
}

TileViewCameraWidget,
TileViewTileWidget {
  background: black;
  border-color: rgb(63, 63, 70);
  border-width: 1px;
  border-style: solid;
}

TileViewWidget #rightPanelContainer {
  background: rgb(18, 19, 20);
  width: 150px;
  max-width: 150px;
}

TileViewUserListWidget QListView {
  background: transparent;
  border: none;
  color: rgb(200, 200, 200);
}

TileViewWidget #rightPanelContainer QLineEdit {
  background: transparent;
  border-color: rgb(63, 63, 70);
  border-style: solid;
  border-width: 0 0 0px 0;
  color: rgb(200, 200, 200);
  margin: 2px;
  padding: 2px;
}

TileViewWidget #userCount {
  border-color: rgb(63, 63, 70);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  color: rgb(200, 200, 200);
  margin: 7px 0 0 5px;
  padding: 2px;
}

/*********************************************************************/
/* User list hint overlay
/*********************************************************************/

UserListWidget {
	background: rgb(30, 30, 30);
	border-color: rgb(18, 19, 20);
	border-width: 2px 2px 2px 1px;
	border-style: solid;
}