
/* basics */

/* ------------------------ */

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #131313;
}

h1, h2, h3, h4, h5, h6, p, section, article, span {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  border: none;
}

a {
  color: #337ab7;
  text-decoration: underline;
}

a.twitterlink {
  color: #33ccff;
  text-decoration: none;
}

a.twitterlink:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
  float: none;
}

/* top navigation */

/* ------------------------ */

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 65px;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ffffff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cccccc;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  --webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.top-nav:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.top-nav-content {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
}

.top-nav .logo {
  float: left;
  margin-top: 8px;
}

.top-nav .title {
  float: left;
  font-size: 24px;
  padding: 18px 18px 19px 18px;
}

.top-nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-nav ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-nav ul li a {
  background: #fff;
  color: #131313;
  display: block;
  padding: 23px 12px;
  text-decoration: none;
}

.top-nav ul li a:hover {
  background: #f9f9f9;
  color: #337ab7;
}

.top-nav ul.menutoggle {
  display: none;
}

/* header */

/* ------------------------ */

.header {
  margin-top: 66px;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  background: rgb(59,103,158);
  background: -moz-linear-gradient(-45deg, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: linear-gradient(135deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
}

.header h1 {
  font-family: "Audiowide", cursive;
  font-size: 2.0em;
  color: #fff;
}

.header h2 {
  color: #ddd;
  font-size: 1.0em;
}

/* common section styles */

/* ------------------------ */

.contentsections {
  width: 100%;
  max-width: 890px;
  margin: 80px auto 0 auto;
  padding: 0;
}

.contentsections .content {
  margin: 0;
  padding: 0;
}

.separator {
  width: 95%;
  height: 0;
  margin: 1.5em 0.0em 1.5em 2.5%;
  padding: 0;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #ccc;
}

.anchor {
  position: relative;
  top: -4.5em;
  display: block;
  width: 0;
  height: 0;
}

/* footer */

/* ------------------------ */

.footer {
  margin: 32px 0 2.0em 0;
}

.footer .copyright {
  color: #666;
  font-size: 0.7em;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

/* ------------------------ */

/* mobile overwrites */

/* ------------------------ */

@media (max-width: 750px) {

  /* navigation */

  .top-nav ul.menutoggle {
    display: inline;
  }

  .top-nav ul.menutoggle li a {
    padding: 4px 12px 3px 12px;
  }

  .top-nav ul.links {
    clear: both;
    display: none;
    float: none;
    position: absolute;
    top: 67px;
    right: 0px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #cccccc;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
    --webkit-box-shadow: 0px  8px rgba(0,0,0,0.2);
  }

  .top-nav ul.links li {
    float: none;
  }

  .top-nav ul.links li a {
    min-width: 200px;
    padding: 12px 12px;
  }

  /* content - single column */

  .contentsections .content {
    padding-left: 16px;
    padding-right: 16px;
  }

}
