<script id="tmpl-DashboardView" type="text/html">

  <div class="DashboardView">
    <h1 class="view-title">{{>~tr('Dashboard')}}</h1>

    <div class="hl-panel">
      <header>
        <h1>{{>~tr('Application information')}}</h1>
      </header>
      <section class="appinfo"></section>
    </div>

    <div class="hl-panel">
      <header>
        <h1>{{>~tr('Process usage')}}</h1>
      </header>
      <section class="procinfo"></section>
    </div>

    <div class="hl-panel">
      <header>
        <h1>{{>~tr('Bandwidth usage')}}</h1>
      </header>
      <section class="bandwidthinfo"></section>
    </div>

  </div>

</script>
