<script id="tmpl-MainView" type="text/css">
  <div class="MainView">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Status</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">Last update: {{>now}}</p>
        </div>
      </div>
    </nav>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Basic application info</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4"><b>PID</b><br/>{{>info.apppid}}</div>
          <div class="col-xs-4"><b>Name</b><br/>{{>info.appname}}</div>
          <div class="col-xs-4"><b>Version</b><br/>{{>info.appversion}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>Directory</b><br/>{{>info.appdirectory}}</div>
          <div class="col-xs-4"><b>File</b><br/>{{>info.appfilepath}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>Organization</b><br/>{{>info.organizationname}}</div>
          <div class="col-xs-4"><b>Organization URL</b><br/>{{>info.organizationdomain}}</div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Process memory usage</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4"><b>PageFaultCount</b><br/>{{>memory.pagefaultcount}}</div>
          <div class="col-xs-4"><b>PeakWorkingSetSize</b><br/>{{>~bytesAsReadableSize(memory.peakworkingsetsize)}}</div>
          <div class="col-xs-4"><b>WorkingSetSize</b><br/>{{>~bytesAsReadableSize(memory.workingsetsize)}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>QuotaPeakPagedPoolUsage</b><br/>{{>~bytesAsReadableSize(memory.quotapeakpagedpoolusage)}}</div>
          <div class="col-xs-4"><b>QuotaPagedPoolUsage</b><br/>{{>~bytesAsReadableSize(memory.quotapagedpoolusage)}}</div>
          <div class="col-xs-4"><b>QuotaPeakNonPagedPoolUsage</b><br/>{{>~bytesAsReadableSize(memory.quotapeaknonpagedpoolusage)}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>QuotaNonPagedPoolUsage</b><br/>{{>~bytesAsReadableSize(memory.quotanonpagedpoolusage)}}</div>
          <div class="col-xs-4"><b>PagefileUsage</b><br/>{{>~bytesAsReadableSize(memory.pagefileusage)}}</div>
          <div class="col-xs-4"><b>PeakPagefileUsage</b><br/>{{>~bytesAsReadableSize(memory.peakpagefileusage)}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>PrivateUsage</b><br/>{{>~bytesAsReadableSize(memory.privateusage)}}</div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Bandwidth usage</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6"><b>Bytes read</b><br/>{{>~bytesAsReadableSize(bandwidth.bytesread)}}</div>
          <div class="col-xs-6"><b>Bytes written</b><br/>{{>~bytesAsReadableSize(bandwidth.byteswritten)}}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><b>Read rate</b><br/>{{>~bytesAsReadableSize(bandwidth.bandwidthread)}}/s</div>
          <div class="col-xs-6"><b>Write rate</b><br/>{{>~bytesAsReadableSize(bandwidth.bandwidthwrite)}}/s</div>
        </div>
      </div>
    </div>

    <h3>Clients ({{>clients.length}})</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Media address</th>
          </tr>
        </thead>
        <tbody>
          {{for clients}}
          <tr>
            <td><a name="client-{{>id}}"></a>{{>id}}</td>
            <td>{{>name}}</td>
            <td>{{>connection.address}}:{{>connection.port}}</td>
            <td>{{>connection.mediaaddress}}:{{>connection.mediaport}}</td>
          </tr>
          {{/for}}
        </tbody>
      </table>
    </div>

    <h3>Channels ({{>channels.length}})</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Participants</th>
          </tr>
        </thead>
        <tbody>
          {{for channels}}
          <tr>
            <td>{{>id}}</td>
            <td>{{>name}}</td>
            <td>
              {{for participants}}
                <a href="#client-{{>#data}}">{{>#data}}</a>
              {{/for}}
            </td>
          </tr>
          {{/for}}
        </tbody>
      </table>
    </div>

    <h3>Web sockets ({{>websockets.length}})</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          {{for websockets}}
          <tr>
            <td>{{>address}}:{{>port}}</td>
          </tr>
          {{/for}}
        </tbody>
      </table>
    </div>

  </div>
</script>